@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body{
    background: linear-gradient(90deg,#5f2c82,#49a09d);
}

#active path{
    fill: crimson;
}

// Background Effect

.background {
    position: relative;
    min-height: 100vh;
    min-width: 100%;
    

    .bg{
        width: 100%;
    }
    .name-box{
        width: 680px;
        position: absolute;
        top: 45%;
    }

// animation of background 

    .mount-box {
        width: 200px;
        position: absolute;
        left: 40%;
        top: 100px;
    }

    .oval-box {
        width: 200px;
        position: relative;
        top: 20px;
        left: 5%;
    }

    .team-box {
        width: 150px;
        position: absolute;
        top: 60%;
        left: 10%;
    }

    .traingle-box {
        width: 300px;
        position: relative;
        top: 50px;
        left: 40%;
    }

    .insta-box {
        width: 200px;
        position: absolute;
        top: 50px;
        left: 70%;
    }


    #oval path, #mount path, #team path,#traingle path,#insta path {
        fill: transparent;
        stroke-width: 2;
        stroke: lawngreen;
        animation: oval 8s infinite ease-in-out;
        opacity: .4;
    }
    #mount path {
        stroke: gold;
        stroke-width: 10;
        animation-duration: 15s;
    }

    #team path {
        stroke: #fff;
        stroke-width: 8;
        animation-duration: 5s;
    }

    #traingle path{
        stroke: crimson;
        stroke-width: 10;
        animation-duration: 10s;
    }

    #insta path {
        stroke: lightblue;
        stroke-width: 10;
        animation-duration: 10s;
    }


    @keyframes oval {
        0%{
            stroke-dasharray: 200% 0%;
        }
        50%{
            stroke-dasharray: 0% 100%;
        }
        100%{
            stroke-dasharray: 50% 0%;
        }
    }

    // animation of background 
}

.name text {
    stroke: gold;
    font-size: 100px;
    font-weight: 700;
    stroke-width: 5;
    animation: textAnimate 10s infinite ease-in-out;
  font-family: 'Rubik',sans-serif;
  
}

#more{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-left: 2.5rem;
    letter-spacing: .5rem;
    font-family: 'Rubik',sans-serif;
}

@keyframes textAnimate {
    0%{
        stroke-dasharray: 0 50%;
        stroke: #fff;
    }
    50%{
        stroke-dasharray:  150% 0%;
        stroke: gold;
    }
    100%{
        stroke-dasharray:  0% 10%;
        stroke: cyan;
    }
}

// Background Effect


// navigation bar 

.nav{
    position: fixed;
    top: 0;
    right: 0;
    // background: darkcyan;
    border-left: 1px solid gold;
    width: 90px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 2rem 0;
}

.home-d{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.links , .login {
    width: 50px;
    transition: all 3s ease-in-out;
    text-decoration: none;
    text-align: center;
    
}

.links svg{
    margin: 1rem 0;
}
.logo a{
    text-decoration: none;
    font-size: .8rem;
    text-align: center;
    font-family: sans-serif;
}

.links .icon path {
    fill: transparent;
    stroke-width: 8;
    stroke: white;
    transition: all 3s ease-in-out;
}

.links .videos path{
    stroke-width: 12;
}

.links .about-us path {
    stroke-width: 10;
}

.log-in path {
    fill: crimson;
    stroke-width: 25;
    stroke: #fff;
}


.icon:hover path{
    animation: animate 5s ease-in-out;
    stroke: cyan;
}


@keyframes animate{
    0%{
        stroke-dasharray: 150% 0%;
        stroke: white;
    }
    50%{
        stroke-dasharray: 0% 100%;
        stroke: gold;
    }
    100%{
        stroke-dasharray: 50% 0%;
        stroke: cyan;
    }
}